.DS_Store
*.pyc
*.pyo
circus.egg-info
^bin
^lib
^lib64
^include
.Python
.coverage
html
docs/source/for-ops/commands/
docs/source/for-ops/commands.rst
docs/build
local
examples/test.log
man/
.tox/
build/
# ignore patterns for buildout
.installed.cfg
develop-eggs/*
eggs/*
parts/*
*.un~
*.swp
.pc
