language: python
python: 2.7
env:
  - TOX_ENV=py33
  - TOX_ENV=py26-no-gevent
  - TOX_ENV=py27-no-gevent
  - TOX_ENV=docs
  - TOX_ENV=flake8
  - TOX_ENV=circus-web
  - TOX_ENV=py26
  - TOX_ENV=py27
script:
    - tox -e $TOX_ENV
install:
    - pip install tox
notifications:
    email: tarek@mozilla.com
    irc: "irc.freenode.org#mozilla-circus"
    on_success: change
after_success:
  # Report coverage results to coveralls.io
  - pip install coveralls
  - coveralls
