[Unit]
Description=The Circus Server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/circusd /etc/circus/circusd.ini

[Install]
WantedBy=multi-user.target
