Source: circus
Section: admin
Priority: optional
Maintainer: David Douard <david.douard@logilab.fr>
Homepage: http://circus.readthedocs.org
Vcs-Git: git://github.com/circus-tent/circus.git -b debian
Vcs-Browser: https://github.com/circus-tent/circus
Build-Depends:
  debhelper (>= 9),
  dh-python,
  dh-systemd (>= 1.5),
  python-all (>=2.6.6-3),
  python-setuptools,
  python-six (>= 1.3),
  python-tox,
  python-mock (>= 1.0.1),
  python-iowait (>= 0.1),
  python-psutil (>= 1.0.1),
  python-zmq (>= 13.1),
  python-tornado (>= 3.1.1),
  python-yaml,
  python-sphinx,
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: circus
Architecture: all
Depends:
  ${python:Depends},
  ${misc:Depends},
  ${shlibs:Depends},
  python-six (>= 1.3),
  python-iowait (>= 0.1),
  python-psutil (>= 1.0.1),
  python-zmq (>= 13.1),
  python-tornado (>= 3.1.1),
  python-yaml,
Recommends:
  python-gevent (>=0.13),
  python-gevent-websocket,
Description: process & socket manager. It can be used to monitor and control
 processes and sockets.
 .
 Circus can be driven via a command-line interface or programmatically trough
 its python API.
 .
 It shares some of the goals of Supervisord, BluePill and Daemontools.
