#!/usr/bin/make -f
export DH_VERBOSE=1
export PYBUILD_AFTER_INSTALL=rm -rf '{destdir}/{install_dir}/examples'
%:
	dh $@ --with python2 --buildsystem=pybuild --test-nose

override_dh_installman:
	make -C docs man
	dh_installman

