name: cd

on:
    push:
        tags:
        -   '[0-9]+.[0-9]+.[0-9]+*'

jobs:

    validate-release-tag:

        if: github.repository == 'bentoml/kantoku'
        runs-on: ubuntu-latest

        steps:
        -   name: Checkout source
            uses: actions/checkout@v4

        -   name: Set up Python
            uses: actions/setup-python@v5

        -   name: Validate the tag version against the package version
            run: python .github/workflows/validate_release_tag.py $GITHUB_REF

    ubuntu:

        needs: [validate-release-tag]
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                python-version: ['3.9', '3.10', '3.11', '3.12', '3.13', 'pypy-3.9']

        steps:
        -   uses: actions/checkout@v4

        -   name: Set up Python
            uses: actions/setup-python@v5
            with:
                python-version: ${{ matrix.python-version }}
                cache: 'pip'

        -   name: Install system dependencies
            run: |
                sudo rm -f /etc/apt/sources.list.d/dotnetdev.list /etc/apt/sources.list.d/microsoft-prod.list
                sudo apt update
                sudo apt install libev-dev libevent-dev
                sudo apt install gcc make libffi-dev pkg-config zlib1g-dev libbz2-dev libsqlite3-dev libncurses5-dev libexpat1-dev libssl-dev libgdbm-dev tk-dev libgc-dev python-cffi liblzma-dev libncursesw5-dev
                sudo ldconfig

        -   name: Install test dependencies
            run: pip install tox coveralls

        -   name: Run test suite
            run: tox -v -e py



    multi-os:

        needs: [validate-release-tag]
        runs-on: ${{ matrix.os }}
        timeout-minutes: 10

        strategy:
            matrix:
                os: ['macos-latest']
                skip-tests: [false]
                include:
                -   os: windows-latest
                    skip-tests: true

        steps:
        -   uses: actions/checkout@v4

        -   name: Set up Python 3.11
            uses: actions/setup-python@v5
            with:
                python-version: '3.11'

        -   name: Install test dependencies
            run: pip install tox coveralls

        -   name: Run test suite
            shell: bash -l {0}
            run: tox -v -e py
            continue-on-error: ${{ matrix.skip-tests }}

    publish:

        name: Publish to PyPI
        needs: [ubuntu]
        runs-on: ubuntu-latest
        permissions:
          id-token: write
        environment:
          name: pypi
          url: https://pypi.org/project/comfy-pack/${{ github.ref_name }}

        steps:
        -   name: Checkout source
            uses: actions/checkout@v4

        -   name: Set up Python
            uses: actions/setup-python@v4

        -   name: Build
            run: pipx run build

        -   name: Upload package to PyPI
            uses: pypa/gh-action-pypi-publish@release/v1
